/*
* 全局定义, 需要加载器中配置
*/
$title-color = #8BC6EF

$value-title-color = #EDA532

$value-content-color = #52B8DF

$icon-arrowsup-color = #E86339

$icon-arrowsdown-color = #4CD690

title-style()
	color $title-color
	font-size 40px
	line-height 40px

value-title-style()
	color $value-title-color
	font-size 36px
	line-height 36px

value-content-style()
	color $value-content-color
	font-size 28px
	line-height 28px

icon-arrowsup-style()
	color $icon-arrowsup-color
	font-size 30px

icon-arrowsdown-style()
	color $icon-arrowsdown-color
	font-size 30px


