$font-size = .28rem

$scrollbar-size = .06rem
$scrollbar-thumb-border-radius = .06rem
$scrollbar-thumb-background-color = #112757

$--select--label--icon-size = .40rem

$-select-dropdown__g-option__fontSize = .24rem

@import '~g-screen-ui/packages/theme/index.styl'


